body {
    font-family: Arial, sans-serif;
    background: #e3f2fd;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #0d47a1;
    margin-top: 40px;
}

.ai_chat {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 450px;
    margin-top: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    border-top: 5px solid #2196f3;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#chat {
    background: #f1f8ff;
    border: 1px solid #90caf9 ;
    border-radius: 10px;
    padding: 10px;
    height: 390px;
}

/* user bubble */
.user {
    background: #bbdefb;
    color: #0d47a1;
    padding: 10px;
    border-radius: 8px;
    margin: 6px 0;
    max-width: 140%;
    margin-left: auto;
    display: block;
}

/* bot bubble */
.bot {
    background: #e3f2fd;
    color: #0d47a1;
    padding: 10px;
    border-radius: 8px;
    margin: 6px 0;
    max-width: 80%;
    margin-right: auto;
    display: block;
}

#userInput {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #90caf9;
    outline: none;
    background: #f1f8ff;
    box-sizing: border-box;
}

#userInput:focus {
    border-color: #42a5f5;
}

button {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #2196f3;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1565c0;
}